/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

body.loaded {
  opacity: 1;
}

#toggle {
  display: none;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: #0056b3;
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background-color: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logout {
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
} */

.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 10px;
}

.header--title {
  color: rgb(17, 81, 155);
  margin: 0.8rem 0;
  font-weight: 700 !important;
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.primary-dashboard {
  color: #004da1;
  height: 30px;
}

.primary-dashboard h3 {
  font-size: 1.5rem;
}

/* -- card container -- */

.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  /* background-color: #f8f9fa; */
  /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%) !important; */
  border: none !important;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  height: unset;
}

.dashboard-button {
  background-color: #0056b3;
  color: white;
  /* padding: 0 10px; */
  /* display: grid; */
  text-align: center;
  align-items: center;
  border: 8px solid white;
  border-radius: 18px;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.5);
  font-size: 18px;
  width: 200px;
  height: 140px;
  transition: background-color 0.3s, transform 0.3s;
}

.dashboard-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.card p {
  margin-top: 1rem;
}

.dashboard-button span {
  display: block;
  font-size: 24px;
  /* margin-top: 10px; */
  font-weight: bold;
}

.dashboard-button i {
  font-size: 24px;
  margin-top: 30px;
  display: block;
}

.main--title {
  color: #0056b3;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 1rem;
}

.payment--card {
  background: rgba(229, 223, 223);
  border-radius: 10px;
  padding: 10rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.payment--card:hover {
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-header p {
  color: #0056b3;
  font-weight: 550;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 200;
}

.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.icon {
  color: #fff;
  padding: 1rem;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.card-details {
  font-size: 18px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(113, 99, 186, 255);
  background-color: #0056b3;
  /* background-color: #007bff; */
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: #fff !important;
}

th,
td,
tfoot {
  border: 1px solid #e0dfdf !important;
  /* Adds vertical and horizontal lines */
}

table tbody tr:hover {
  background-color: #ddd;
}

.table-container button {
  color: green;
  background: none;
  cursor: pointer;
}

.meeting-summary {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.meeting-summary h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.meeting-summary p {
  color: #555;
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.6;
}

.meeting-summary ul {
  list-style-type: none;
  padding: 0;
}

.meeting-summary ul li {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.meeting-summary ul li strong {
  /* color: #ffeb3b; */
  color: aliceblue;
}

.meeting-summary ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.meeting-summary .description {
  margin-top: 20px;
  background-color: #eef;
  padding: 15px;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
}

.meeting-summary .description p {
  margin: 0;
}

.dataTables_filter input {
  border-radius: 8px !important;
}

.dataTables_length {
  display: flex;
  margin-bottom: 1rem;
}

/* action button */

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f4f7f8; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
  margin-bottom: 15px;
}

/* label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  color: #333;
} */

select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
}

select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  min-height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  /* background-color: green; */
  color: #fff;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

td .btn-primary {
  color: white;
  border: none;
  background-color: #0056b3 !important;
}

.dataTables_length label {
  display: flex !important;
  gap: 6px;
  align-items: center;
}

@media (max-width: 990px) {
  html,
  body {
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }

  /* .header--wrapper {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  } */

  .header--title {
    text-align: left;
    font-weight: 700;
  }

  .tabular--wrapper {
    overflow-x: scroll;
  }

  .main--title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .sidebar {
    display: none;
  }

  #toggle {
    display: inline;
    align-items: center;
    left: 80%;
    top: 2rem;
    position: absolute;
    border: none;
    transition: all 0.5s linear;
    background-color: #1072db;
  }

  .offcanvas-body {
    transition: all 0.5s linear;
    background-color: #007bff;
  }

  .offcanvas-body li a {
    font-size: 1rem;
    font-weight: normal;
  }

  .dataTables_filter input {
    border-radius: 8px !important;
    width: 100%;
  }
}
